.spiner{
    color: rgb(0, 26, 255);
   margin-right: 10px;
    animation: spin 2s linear  infinite ;     
}
  
@keyframes spin {
0% {
    transform: rotate(0deg);
}


100% {
    transform: rotate(360deg);
}
}  


